.column-data-user {
  line-height: 34px;
}

.btn-del {
  border: none;
}

.btn-edit {
  border: none;
  background-color: transparent;
  color: rgb(227, 148, 120);

  &:hover {
    color: green;
    background-color: white;

    box-shadow: 0 0 10px #d1e9d6;
  }
}

.item-edit {
  font-size: 20px;
  line-height: 34px;
}

.item-del {
  font-size: 20px;
  line-height: 34px;
}

.btn-del {
  border: none;
  background-color: transparent;
  color: rgb(221, 156, 132);

  &:hover {
    color: red;
    box-shadow: 0 0 10px #d1e9d6;
  }
}
